.list {
  position: inline;
background-color: white;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.18);
} 

#ticketImage {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

